body{
    padding:50px;
}
.container{
    max-width: 600px;
    margin:0 auto;
    padding:50px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.form-group{
    margin-bottom:30px;
}
.follow-btn{
    display: inline-block;
    text-decoration: none;
    border: 1px solid #ff004f;
    color: #808080;
    padding: 6px 35px;
    margin: 25px 0;
}